@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Shadows+Into+Light&display=swap');

:root{
    --primary-color: #44001A;
    --secondary-color: #600047;
    --accent1-color: #770058;
    --accent2-color: #FFFFFF;
    --accent3-color: #FCE5FA;
    --heading-font: "Shadows Into Light";
    --paragraph-font: "Patrick Hand"
}

html{
    background-image: url(https://marketplace.canva.com/EAD2962NKnQ/2/0/1600w/canva-rainbow-gradient-pink-and-purple-zoom-virtual-background-_Tcjok-d9b4.jpg);
    background-repeat: round;
}

body {
    background-color: var(--accent2-color);
    max-width: 900px;
    margin: 0 auto;
    padding: 0;
}

header {
    background-color: var(--secondary-color);
    padding: 1em;
    text-align: center;
}

h1 {
    font-family: var(--heading-font);
    color: var(--accent2-color);
}

h2, h3, h4, h5, h6{
    font-family: var(--heading-font);
    color: var(--accent1-color);
}
main {
    padding: 1em;
    min-height: 78vh;
}

ul {
    font-family: var(--paragraph-font);
    font-size: larger;
}

footer {
    color: var(--primary-color);
    font-family: var(--paragraph-font);
    padding: 1em;
}

a {
    color: var(--secondary-color);
    text-decoration: none;
}

a:hover {
    color: var(--accent1-color);
    text-decoration: underline;
}

.layout {
    max-width: 900px;
    display: inline;
}