@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon+SC&family=Jost&family=Playfair+Display&display=swap');

:root{
    --primary-color: #197BBD;
    --secondary-color: #C2B8B2;
    --accent1-color: #EFEDE8;
    --accent2-color: #125E8A;
    --accent3-color: #204B57;
}

html{
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(18,94,138,1) 45%, rgba(0,134,161,1) 100%);
}

body{
    background-color: var(--accent1-color);
    font-size: 16px;
    max-width: 960px;
    margin: 0 auto;
    box-shadow: 0 0 50px var(--accent2-color);
}

h1, h2, h3, h4, h5, h6{
    font-family: "Playfair Display", "Garamond", serif;
    color: var(--primary-color);
}

header {
    background-color: var(--secondary-color);
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 75px;
    height: auto;
    margin-right: 10px;
}

header > h1{
    color: var(--accent3-color);
    margin-right: 20px;
}

p{
    font-family: "Jost", "Century Gothic", sans-serif;
    color: var(--accent2-color);
    padding: 1em
}

nav {
    line-height: 3em;
    font-size: 1.2em;
    margin: 0 20px 0 30px;
}

nav  ul{
    list-style-type: none;
    display: flex;
    padding: 0;
}

nav a{
    padding: 10px 10px;
    text-decoration: none;
}

nav a:link, nav a:visited{
    color: var(--primary-color);
}

nav a:hover{
    color: var(--accent1-color);
    background-color: var(--accent3-color);
}

.active {
    color: var(--secondary-color);
}

.active:hover {
    background-color: var(--primary-color);
}

.hero-box {
    position: relative;
}

.hero {
    max-width: 960px;
}

.action {
    position: absolute;
    background-color: rgba(239, 237, 232, 0.685);
    width: 245px;
    padding: 5px 0 0 10px;
    top: 40px;
    left: 35px;
}

.action h3 {
    color: var(--accent2-color);
}

.action button {
    font-family: "Jost", "Century Gothic", sans-serif;
    font-size: 1.2em;
    width: 10em;
    line-height: 1.5em;
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: var(--accent1-color);
    color: var(--accent3-color)
}

hr {
    display: none;
}

main {
    margin: 1.2em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

h2 {
    text-align: center;
}

.wedding {
    grid-column: 2/3;
    grid-row: 2/3;
    margin-left: 1rem;
}

.familysearch {
    grid-column: 1/3;
}

.familysearch h2 {
    text-align: center;
}

.bed, .reception {
    width: 100%;
    border: 1px solid #204B57;
    box-shadow: 5px 5px 5px #204B57;
    padding: 5px;
}

.contact {
     line-height: 1.5rem;
}

.contact img {
    width: 20px;
    height: auto;
}

.address2, .address3 {
    position: relative;
    left: 25px;
}

footer {
    background-color: var(--secondary-color);
    padding: 20px;
    display: flex;
}

.social {
    position: relative;
    left: 200px;
}

.social img {
    padding: 5px;
}

.copyright {
    background-color: var(--secondary-color);
    padding: 0 20px 10px 20px;
    text-align: center;
}

@media screen and (max-width: 550px) {
    header {
        display: block;
    }

    picture, h1 {
        display: inline;
    }
    
    picture {
        display: 
        margin-left: 20px;
    }

    nav ul {
        margin: 0;
    }

    .hero {
        max-width: 550px;
    }
    
    .action {
        position: relative;
        top: 0;
        left: 0;
        width: 100vw;
        padding: 0 145px;
    }

    hr {
        display: block;
        width: 80vw;
        color: var(--accent3-color);
    }

    main {
      display: block;
    }

    footer {
        display: block;
        position: relative;
    }

    .social {
        position: absolute;
        top: 60px;
        right: 0;
    }
  }