@import url('https://fonts.googleapis.com/css2?family=Advent+Pro&display=swap');

:root {
    --primary-color: #a4130f;
    --secondary-color: #453c3d;
    --accent1-color: #d1cdcc;
    --accent2-color:#FEFEEE;
}

html {
    background-color: #453c3d;
}

body {
    background-color: #FEFEEE;
    margin: 0 auto;
    max-width: 920px;
    display: grid;
    grid-template-columns: 1fr 240px 1fr;
    grid-template-rows: 300px 1fr;
    grid-gap: 20px;
    padding: 0 20px;
}

header {
    background-color: #a4130f;
    width: 200px;;
    display: flex;
    flex-direction: column;
    padding: 20px;
    grid-column: 2/3;
    grid-row: 1/2;
}

header h1 {
    margin: 10px auto;
    color: #FEFEEE;
    font-family: 'Advent Pro', Helvetica, sans-serif;
}

header img {
    width: 100px;
    margin: 0 auto;
}

.leftmain {
    grid-column: 1/2;
    grid-row: 1/3;
}

.rightmain {
    grid-column: 3/4;
    grid-row: 1/3;
}

#view1, #view2, #view3, #view4, #view5, #view6, #view7, #view8 {
    width: 320px;
    height: auto;
    margin: 10px 0;
    opacity: 0.8;
    cursor: pointer;
    transition: 0.3s;
}

#view1:hover, #view2:hover, #view3:hover, #view4:hover, #view5:hover, #view6:hover, #view7:hover, #view8:hover {
    box-shadow: 5px 5px 10px #453c3d;
    opacity: 1.0;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9)
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#caption {
    margin: auto;
    display: block; 
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #d1cdcc;
    padding: 10px;
    height: 150px;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #FEFEEE;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

close:hover, .close:focus {
    color: #d1cdcc;
    text-decoration: none;
    cursor: pointer;
}