@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@500&family=Open+Sans&display=swap');

:root {
    --primary-color: #BE6B23;
    --secondary-color: #631f18;
    --accent1-color: #33032f;
    --accent2-color: #dad5d3;
    --accent3-color:#FFF;
}

html {
    background-color: var(--accent2-color);
}

body {
    margin: 0;
    font-size: 16px;
    font-family: "Open Sans", helvetica, sans-serif;
    color: var(--secondary-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Advent Pro", Helvetica, sans-serif;
    text-align: center;
    letter-spacing: 2px;
}

header {
    background: var(--primary-color);
    display: flex;
    justify-content: space-between;
}

h1 {
    color: var(--accent1-color);
    margin: 10px;
}

.searchbar {
    margin: 10px;
    display: grid;
    grid-template-columns: 205px 1fr;
}

input {
    background-color: var(--accent2-color);
    border-width: 1px;
    border-style: solid;
    border-color: var(--secondary-color);
    background-color: var(--accent3-color);
    padding: 10px 2px;
}

.material-icons {
    background-color: var(--secondary-color);
    color: var(--accent3-color);
}

button {
    background-color: var(--secondary-color);
    border-width: 1px;
    border-style: solid;
    border-color: var(--secondary-color);
    padding: 1px 5px 10px 5px;
}

nav {
    background-color: var(--primary-color);
    padding: 1px;
    display: inline;
}

nav ul {
    list-style-type: none;
    display: flex;
    margin: 29px 10px 0 10px;
    padding: 0;
}

nav ul a {
    color: var(--accent3-color);
    padding: 10px;
    text-decoration: none;
    border-radius: 3px 3px 0 0;
}

nav ul a:hover {
    background-color: var(--accent1-color);
    color: var(--accent3-color);
}

.active {
    background-color: var(--accent2-color);
    color: var(--secondary-color)
}

main {
    width: 1080px;
    margin: 0 auto;
}

.home {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px 10px;
}

.hero {
    max-width: 100%;
    grid-column: 1/-1;
}

.home section {
    border: 5px solid var(--accent1-color);
    background-color: var(--accent1-color);
    color: var(--accent3-color);
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.self {
    max-width: 350px;
    grid-column: 1/2;
}

.about {
    grid-column: 2/4;
}

.about h2 {
    margin: 30px auto 10px auto;
}

.questions h2 {
    margin-top: 0;
}

.questions {
    grid-column: 1/-1;
    background-color: var(--primary-color);
    padding: 20px;
}

@keyframes wiggle{
    0% { transform: rotate(0deg);}
    50% { transform: rotate(0deg);}
    70% { transform: rotate(5deg);}
    80% { transform: rotate(-5deg);}
    90% { transform: rotate(5deg);}
    100% { transform: rotate(0deg);}
}

.wiggle {
    text-decoration: none;
    color: var(--accent3-color);
    display: block;
    text-align: center;
    margin-top: 30px;
    animation: wiggle 2.5s infinite;
}

.wiggle:hover {
    color: var(--accent1-color);
    animation: none;
}

.product {
    max-width: 350px;
    box-shadow: 5px 5px 5px #794416;
    transition: transform .2s;
    background-color: var(--secondary-color);
    color: var(--accent3-color);
    border: 1px solid var(--secondary-color);
    text-decoration: none;
}

.product:hover {
    transform: scale(1.08);
    box-shadow: none;
}

.product p {
    margin: 15px;
    text-align: center;
}

.home>h2 {
    grid-column: 1/-1;
    color: var(--secondary-color);
}

.more {
    text-decoration: none;
    color: var(--secondary-color);
    grid-column: 3/-1;
    display: block;
    text-align: right;
}

.patternlist {
    margin-bottom: 50px;
}

.patternlist h2 {
    margin: 50px;
}

.pattern:nth-of-type(odd) {
    background-color: var(--secondary-color);
    color: var(--accent3-color);
}

.pattern:nth-of-type(even) {
    background-color: var(--accent2-color);
}

.pattern {
    padding: 10px;
    height: auto;
    overflow: auto;
}

.pattern img {
    max-width: 325px;
    float: left;
    height: auto;
    margin-right: 10px;
}

.pattern h3 {
    margin-top: 20px;
}

.pattern p {
    line-height: 130%;
}

.shopmain {
    display: grid;
    grid-template-columns: 300px 1fr 1fr;
    grid-template-rows: 120px 1fr 1fr 1fr;
    margin-bottom: 20px;
}

.shopsearch {
    grid-column: 1/-1;
    grid-row: 1/2;
    width: 800px;
    margin: 40px auto;
}

.shopsearch input {
    width: 720px;
}

.narrow {
    grid-column: 1/2;
    grid-row: 2/-2;
    border: 2px solid var(--secondary-color);
    border-right: none;
}

.productbox {
    grid-column: 2/-1;
    grid-row: 2/-1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    border: 2px solid var(--secondary-color);
    padding: 5px 0;
}

.productresults {
    width: 200px;
    border: 1px solid var(--accent1-color);
    justify-self: center;
    margin-top: 20px;
    background-color: var(--accent3-color);
    box-shadow: 3px 3px 5px var(--accent1-color);
    transition: scale;
}

.productresults:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.productresults img {
    width: 200px;
}

.productresults p {
    text-align: center;
    margin: 5px;
}

.narrowform {
    margin: 0 38px;
}
.narrowform input {
    margin-bottom: 15px;
}

.customizelink {
    border-left: 2px solid var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
    overflow: hidden;
    height: 300px;
}

.moreinfo {
    margin: 30px auto;
    width: 75%;
}

.moreinfo h2 {
    margin-bottom: 30px;
}

#sendmessage {
    width: 50%;
    margin: 50px auto 60px auto;
}

#sendmessage fieldset {
    border-radius: 5px;
    color: var(--accent1-color);
}

#sendmessage legend {
    padding: 0 5px;
}

.form {
    list-style-type: none;
    padding-left: 25px;
}

.form li {
    display: grid;
    grid-template-columns: 80px 1fr;
}

.form li label {
    padding: 15px;
}

.form li input {
    width: 200px;
    margin: 10px;
    color: var(--accent1-color);
}

textarea {
    margin: 10px;
    background-color: var(--accent3-color);
    border-color: var(--secondary-color);
}

.submit {
    grid-column: 2/-1;
    width: 200px;
}

footer {
    background-color: var(--accent1-color);
    color: var(--accent3-color);
    padding: 10px;
}